<%- include('includes/head') %>

  </head>
  <body>

    <%- include('includes/header') %>

    <main>
      <h3 style="text-align: center; margin-top: 4rem">404. Page not found.</h3>
    </main>

<%- include('includes/close') %>
