<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__list">
          <li>
            <a class="main-header__navlink" href="/">Shop</a>
          </li>
          <li>
            <a class="main-header__navlink" href="/contact-us">Contact Us</a>
          </li>
          <li>
            <a class="main-header__navlink" href="/admin/add-product"
              >Add Product</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h3 style="text-align: center; margin-top: 4rem">404. Page not found.</h3>
    </main>
  </body>
</html>
