<%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <h3 style="text-align: center">Your data has been recorded.</h3>
    </main>
<%- include('includes/close') %>
