* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7efff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:focus {
  outline: none;
}
