* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:focus {
  outline: none;
}

.main-header {
  width: 100%;
  background-color: #ffe02e73;
  box-shadow: 2px 2px 10px #ccc;
  margin-bottom: 1rem;
}

.main-header__nav {
  padding: 1rem 1rem;
}

.main-header__list {
  display: flex;
  gap: 3rem;
  justify-content: flex-end;
}

.main-header__navlink {
  color: #cc00e7;
}
.main-header__navlink:hover {
  color: #740083;
}

.main {
  width: 90%;
  margin: auto;
}
.main-heading {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: 14px;
  width: fit-content;
  margin-bottom: 5px;
  color: #383838;
}

.form-input {
  padding: 0.5rem 1rem;
  margin-bottom: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-input:focus {
  outline: 2px solid #ffe02e;
  border: 1px solid #ffe02e;
}

.form-action {
  display: block;
  padding: 0.5rem;
  background-color: #cc00e7;
  color: white;
  border: 1px;
  border-radius: 3px;
}
.form-action:hover {
  cursor: pointer;
  background-color: #740083;
}
.form-action:focus {
  outline: 2px solid #740083;
}
