* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7efff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:focus {
  outline: none;
}

.btn {
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #fff;
  border: 1px solid #3553ff;
  border-radius: 3px;
}
.btn:hover {
  cursor: pointer;
  color: white;
  background-color: #3553ff;
}
.btn:focus {
  outline: 2px solid #3553ff;
}
